/* AdminFacultyPreview.css */

.root {
    -fx-font-family: "Inter";
    -fx-background-color: transparent;
}

/* Dashboard Labels */
.dashboard-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #800000;
}

/* Section Header */
.section-header {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #800000;
}

/* Action Button */
.action-button {
    -fx-background-color: #800000;
    -fx-text-fill: white;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 5;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.action-button:hover {
    -fx-background-color: #5e0000;
}

/* Search Input */
.text-field {
    -fx-background-radius: 5;
    -fx-border-color: #e4e4e4;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.button {
    -fx-alignment: center;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-color: #800000;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #5e0000;
}

/* Card section or panels */
.card-section {
    -fx-background-color: #f8fcfc;
    -fx-border-color: #e4e4e4;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 3, 0, 0, 1);
}

.highlight-box {
    -fx-background-color: #800000AA; /* semi-transparent maroon */
    -fx-padding: 10 25 10 25;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 5, 0, 0, 1);
}

.highlight-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.full-time-label {
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 13px;
}

.part-time-label {
    -fx-text-fill: brown;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 13px;
}

.date-label {
    -fx-text-fill: #800000;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 13px;
}

.red-card {
    -fx-background-color: linear-gradient(to right, maroon 0%, maroon 60%, rgba(128, 0, 0, 0.5) 100%);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 3);
    -fx-alignment: center-left;
    -fx-padding : 20px;
}

.header {
    -fx-font-size: 24px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.sub-header {
    -fx-font-size: 14px;
    -fx-font-family: "Inter";
    -fx-text-fill: white;
}

.total-faculties {
    -fx-font-size: 20px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.total-faculties-icons {
    -fx-fill: white;
}

.icons {
    -fx-fill: black;
}

.search-label {
    -fx-font-size: 14px;
    -fx-font-family: "Inter";
    -fx-text-fill: #800000;
    -fx-font-weight: bold;
}

.search-text-field {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #343a40;
    -fx-border-radius: 5px;
    -fx-font-size: 12px;
    -fx-font-family: "Inter";
    -fx-text-fill: #343a40;
    -fx-padding: 3px;
    -fx-font-weight: bold;
}

.table-view {
    -fx-font-family: 'Inter';
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-border-color: #ddd;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

/* Table Header Cells with Gridlines */
.table-view .column-header {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ccc; /* Light gray for subtle grid look */
    -fx-font-size: 12px;
    -fx-font-family: 'Inter';
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #bbb;
    -fx-font-size: 12px;
    -fx-font-family: 'Inter';
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12px;
    -fx-font-family: 'Inter';
    -fx-font-style: italic;
    -fx-padding: 10;
}

.table-view .table-cell, .table-cell {
    -fx-font-size: 12px;
    -fx-font-family: 'Inter';
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-padding: 8px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

/* Remove hover effect */
.table-row-cell:hover {
    -fx-background-color: maroon;
}

/* Style selected row */
.table-row-cell:filled:selected {
    -fx-background-color: #a03030;
}

.table-row-cell:filled:selected .table-cell,
.table-row-cell:filled:selected .text {
    -fx-text-fill: white;
}

/* =================Dark Theme =========================== */

.dark-theme .root {
    -fx-background-color: transparent;
}

.dark-theme {
    -fx-base: #17191a;
    -fx-background: #1a2021;
    -fx-accent: #e33a3a;
    -fx-focus-color: #e33a3a;
    -fx-default-button: true;
}

.dark-theme .dashboard-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #e0e0e0;
}

/* Section Header */
.dark-theme .section-header {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #e0e0e0;
}

/* Action Button */
.dark-theme .action-button {
    -fx-background-color: #b22222;
    -fx-text-fill: #e0e0e0;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 5;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.dark-theme .action-button:hover {
    -fx-background-color: #e57373;
}

/* Search Input */
.dark-theme .text-field {
    -fx-background-radius: 5;
    -fx-border-color: #555;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.dark-theme .button {
    -fx-alignment: center;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-color: #b22222;
    -fx-text-fill: #e0e0e0;
}

.dark-theme .button:hover {
    -fx-background-color: #e57373;
}

/* Card section or panels */
.dark-theme .card-section {
    -fx-background-color: #2d2d2d;
    -fx-border-color: #555;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 3, 0, 0, 1);
}

.dark-theme .highlight-box {
    -fx-background-color: #e33a3aAA; /* semi-transparent red */
    -fx-padding: 10 25 10 25;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 5, 0, 0, 1);
}

.dark-theme .highlight-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #e0e0e0;
}

.dark-theme .full-time-label {
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 13px;
}

.dark-theme .part-time-label {
    -fx-text-fill: brown;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 13px;
}

.dark-theme .date-label {
    -fx-text-fill: #800000;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 13px;
}

.dark-theme .red-card {
    -fx-background-color: linear-gradient(to right, maroon 0%, maroon 60%, rgba(128, 0, 0, 0.5) 100%);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 3);
    -fx-alignment: center-left;
    -fx-padding : 20px;
}

.dark-theme .header {
    -fx-font-size: 24px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: #e0e0e0;
    -fx-font-weight: bold;
}

.dark-theme .sub-header {
    -fx-font-size: 14px;
    -fx-font-family: "Inter";
    -fx-text-fill: #e0e0e0;
}

.dark-theme .total-faculties {
    -fx-font-size: 20px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: #e0e0e0;
    -fx-font-weight: bold;
}

.dark-theme .total-faculties-icons {
    -fx-fill: #e0e0e0;
}

.dark-theme .icons {
    -fx-fill: #e0e0e0;
}

.dark-theme .search-label {
    -fx-font-size: 14px;
    -fx-font-family: "Inter";
    -fx-text-fill: #e0e0e0;
    -fx-font-weight: bold;
}

.dark-theme .search-text-field {
    -fx-background-color: #3a3a3a;
    -fx-border-width: 1px;
    -fx-border-color: #555;
    -fx-border-radius: 5px;
    -fx-font-size: 12px;
    -fx-font-family: "Inter";
    -fx-text-fill: #e0e0e0;
    -fx-padding: 3px;
    -fx-font-weight: bold;
}

.dark-theme .header {
    -fx-font-size: 24px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.dark-theme .sub-header {
    -fx-font-size: 14px;
    -fx-font-family: "Inter";
    -fx-text-fill: #cccccc;
}

/* TableView Styles */
.dark-theme .table-view {
    -fx-font-family: 'Inter';
    -fx-font-size: 12px;
    -fx-background-color: #2d2d2d;
    -fx-border-color: #555; /* Dark gray for subtle grid look */
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

/* Table Header Cells with Gridlines */
.dark-theme .table-view .column-header {
    -fx-background-color: #333333;
    -fx-border-color: #555; /* Dark gray for subtle grid look */
    -fx-font-size: 12px;
    -fx-font-family: 'Inter';
}

.dark-theme .table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #555;
    -fx-font-size: 12px;
    -fx-font-family: 'Inter';
    -fx-border-width: 0 0 1 0;
}

.dark-theme .table-view .column-header .label {
    -fx-font-size: 12px;
    -fx-font-family: 'Inter';
    -fx-font-style: italic;
    -fx-padding: 10;
}

.dark-theme .table-view .table-cell, .dark-theme .table-cell {
    -fx-font-size: 12px;
    -fx-font-family: 'Inter';
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-table-cell-border-color: transparent;
}

.dark-theme .table-row-cell {
    -fx-background-color: transparent;
    -fx-padding: 8px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

/* Remove hover effect */
.dark-theme .table-row-cell:hover {
    -fx-background-color: #6b0000;
    -fx-text-fill: white;
}

/* Style selected row */
.dark-theme .table-row-cell:filled:selected {
    -fx-background-color: #8a2929;
    -fx-text-fill: #f0f0f0;
}

.dark-theme .table-row-cell:filled:selected .table-cell,
.dark-theme .table-row-cell:filled:selected .text {
    -fx-text-fill: #f0f0f0;
}