.root {
    -fx-background-color: black;
    -fx-min-height: 720;
    -fx-min-weight: 1280;
}

.backgroundVideo {
    -fx-opacity: 0.5;
}

.navigationBar {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
.buttons {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.buttons:hover {
    -fx-font-size: 14px;
    -fx-text-fill: #800000;
}
.getStarted {
    -fx-background-color: #800000;
    -fx-text-fill: white;
}
.getStarted:hover {
    -fx-background-color: #4d0000;
}
.pupLabel {
    -fx-font-family: "Times New Roman";
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.labelHeader {
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-font-size: 48;
}
