/* Root container styling */
.root {
    -fx-background-color: transparent;
}

/* Title text styling */
.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

/* Subtitle text styling */
.subtitle {
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-alignment: center;

}

/* Code input field styling */
.code-field {
    -fx-font-size: 16px;
    -fx-pref-height: 45;
    -fx-pref-width: 250;
}

/* Verify button styling */
.verify-button {
    -fx-background-color: #800000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Hover effect for verify button */
.verify-button:hover {
    -fx-cursor: hand; 
}

/* Resend button styling */
.resend-button {
    -fx-background-color: transparent;
    -fx-text-fill: #800000;
    -fx-underline: true;
}

/* Hover effect for resend button */
.resend-button:hover {
    -fx-cursor: hand; 
}

/* Error label text styling */
.error-label {
    -fx-text-fill: #e74c3c;
}

/* Individual verification digit styling */
.verification-digit {
    -fx-background-color: #e3e3e3;
    -fx-pref-height: 40;
    -fx-pref-width: 40;
    -fx-background-radius: 5;
    -fx-border-radius: 10;
    -fx-alignment: center;
}

/* Verification container styling */
.verification-container {
    -fx-background-color: #fff;
    -fx-border-color: #c2c0c0;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
}
