.welcome-text {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.student-name {
    -fx-font-size: 24px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: white;
}

.cards {
    -fx-background-color: #f8fcfc;
    -fx-background-radius: 10;
    -fx-border-color: #e3e5e6;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-padding: 20;
}

.stat-value {
    -fx-font-size: 24px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: #343a40;
}

.stat-label {
    -fx-font-size: 14px;
    -fx-text-fill: #6c757d;
}

.section-header {
    -fx-font-size: 18px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: #343a40;
}

.announcement-list {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.announcement-list .list-cell:selected{
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

.action-button {
    -fx-background-color: #800000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 15;
    -fx-background-radius: 5;
}

.action-button:hover {
    -fx-background-color: #5e0000; /* Darker maroon */
}

.stat-icon {
    -fx-fill: #800000; /* Maroon */
}
.font{
    -fx-font-family: "Inter 18pt Medium";
}
.red-card{
    -fx-background-color: linear-gradient(to right, maroon 0%, maroon 60%, rgba(128, 0, 0, 0.5) 100%);
    -fx-background-radius: 10;
    -fx-border-color: transparent;
}
