.faculty {
    -fx-background-color: linear-gradient(to bottom, #fec127, #a17b1a);
    -fx-text-fill: white;
    -fx-min-height: 35;
    -fx-min-width: 200;
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.faculty:hover {
    -fx-background-color: linear-gradient(to bottom, #ffd447, #b89029);
}

.student {
    -fx-background-color: linear-gradient(to top, #8e170a, #cc1c17);
    -fx-text-fill: white;
    -fx-min-height: 35;
    -fx-min-width: 200;
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.student:hover {
    -fx-background-color: linear-gradient(to top, #b6261c, #e6453a);
}

.main-container {
    -fx-min-height: 650;
    -fx-min-width: 900;
    -fx-background-image: url("../Images/school.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.login-container {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0, 0, 2);
    -fx-background-radius: 30;
    -fx-min-height: 430;
    -fx-min-width: 300;
}

.message {
    -fx-text-fill: dimgrey;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-font-family: "Poppins";
}
.root{
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}