.root {
    -fx-font-family: "Inter", sans-serif;
    -fx-background-color: #f4f6f8; /* Light grey background for the app (default for .root elements) */
}

.dark-theme .root {
    -fx-background-color: transparent;
}

.red-card {
    -fx-background-color: linear-gradient(to right, maroon 0%, maroon 60%, rgba(128, 0, 0, 0.5) 100%);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 3);
    -fx-alignment: center-left;
    -fx-padding : 15px;
}

.dark-theme .red-card {
    -fx-background-color: linear-gradient(to right, #b22222 0%, #b22222 60%, rgba(178, 34, 34, 0.3));
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 3);
    -fx-alignment: center-left;
    -fx-padding: 15px;
}

.cards {
    -fx-background-color: #f8fcfc;
    -fx-background-radius: 10;
    -fx-border-color: #e3e5e6;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-padding: 10;
}

.dark-theme .cards {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 10;
    -fx-border-color: #444;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-padding: 10;
}

.header {
    -fx-font-size: 24px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.dark-theme .header {
    -fx-font-size: 24px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.sub-header {
    -fx-font-size: 14px;
    -fx-font-family: "Inter";
    -fx-text-fill: white;
}

.dark-theme .sub-header {
    -fx-font-size: 14px;
    -fx-font-family: "Inter";
    -fx-text-fill: #dddddd;
}

.cards-header {
    -fx-font-size: 17px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: #343a40;
    -fx-font-weight: bold;
}

.dark-theme .cards-header {
    -fx-text-fill: #e0e0e0;
}

.icons {
    -fx-fill: #800000;
}

.dark-theme .icons {
    -fx-fill: #b22222;
}

.stat-label {
    -fx-font-size: 11px;
    -fx-text-fill: #646464;
}

.dark-theme .stat-label {
    -fx-text-fill: #bbbbbb;
}

.stat-value {
    -fx-font-size: 13px;
    -fx-font-family: "Inter";
    -fx-text-fill: #343a40;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.dark-theme .stat-value {
    -fx-text-fill: #e0e0e0;
}

.breakdown-label {
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

.dark-theme .breakdown-label {
    -fx-text-fill: #e0e0e0;
}

.total-breakdown-amount {
    -fx-font-size: 15px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: #008000;
    -fx-font-weight: bold;
}

.dark-theme .total-breakdown-amount {
    -fx-text-fill: #00ff00;
}

.total-breakdown-label {
    -fx-font-size: 15px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-text-fill: #343a40;
    -fx-font-weight: bold;
}

.dark-theme .total-breakdown-label {
    -fx-text-fill: #e0e0e0;
}

.submit-button {
    -fx-background-color: #800000;
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.submit-button:hover {
    -fx-background-color: #5e0000;
}

.dark-theme .submit-button {
    -fx-background-color: #b22222;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 3);
}

.dark-theme .submit-button:hover {
    -fx-background-color: #e57373; /* slightly lighter red/orange */
}


.radio-button {
    -fx-font-size: 12px;
    -fx-text-fill: #343a40;
    -fx-font-weight: bold;
}

.radio-button .radio {
    -fx-background-color: #f8fcfc;
    -fx-border-color: #343a40;
    -fx-border-width: 2px;
    -fx-padding: 4px;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.dark-theme .radio-button {
    -fx-text-fill: #e0e0e0;
}

.dark-theme .radio-button .radio {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 2px;
    -fx-padding: 4px;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.payment-text-field {
    -fx-background-color: #f8fcfc;
    -fx-background-radius: 5;
    -fx-border-color: #343a40;
    -fx-border-radius: 5;
    -fx-padding: 5 5 5 10;
}

.dark-theme .payment-text-field {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #e0e0e0;
}

/* Style for Eligible to FHE Act. */
.like-icon {
    -fx-fill: white;
}

.eligible-card {
    -fx-background-color: #1a752e;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 5;
}

.eligible-card-label {
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.dark-theme .eligible-card {
    -fx-background-color: #2f8f43;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 5;
}

.dark-theme .eligible-card-label {
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}



