.background{
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 30;
}
.main-container{
    -fx-background-radius: 20;
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: lightgray;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}
.profile-label{
    -fx-text-fill: gray;
}
.font{
    -fx-font-family: "Inter Semi Bold";
}
.small-text{
    -fx-font-size: 18;
    -fx-font-family: "Inter";
}
.sidebar-labels{
    -fx-font-size: 14;
}