.fields{
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-pref-height: 30;
    -fx-pref-width: 200;
    -fx-text-fill: black;
}
.birthday-field{
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-pref-height: 30;
}
.birthday-field .text{
    -fx-fill: #b3b3b3;
}
.buttons{
    -fx-background-color: #800000;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-pref-height: 30;
}
.buttons:hover{
    -fx-effect: dropshadow(gaussian, #a6a6a6, 10, 0.3, 0, 0);
}
.font{
    -fx-font-family: "Inte";
}
.big-text{
    -fx-font-size: 24;
}

.pup-sanjuan-label{
    -fx-font-family: "system-ui";
    -fx-font-size: 24;
    -fx-font-weight: bold;
}
.back-button:hover{
    -fx-effect: dropshadow(gaussian, #a6a6a6, 20, 0.5, 0, 0);
}
.error-message{
    -fx-text-fill: red;
}
.root{
    -fx-background-radius: 20;
}
.border-pane{
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 20;
}

