/* styles.css */

/* Style for the toggle switch button container */
.switch-toggle-button {
    -fx-pref-width: 50px;
    -fx-pref-height: 25px;
    -fx-background-color: lightgrey;
    -fx-background-radius: 25px;
    -fx-padding: 2px;
    -fx-border-width: 0;
    -fx-text-fill: transparent;
    -fx-cursor: hand;
    -fx-transition: -fx-background-color 0.2s ease-in-out;
}

/* Style for the toggle switch button when selected */
.switch-toggle-button:selected {
    -fx-background-color: #800000;
}

/* Style for the thumb (circle) inside the toggle switch button */
.switch-toggle-button .thumb {
    -fx-pref-width: 21px;
    -fx-pref-height: 21px;
    -fx-background-color: white;
    -fx-background-radius: 21px;
    -fx-translate-x: -3px;
}

/* Style for the thumb (circle) when the toggle switch button is selected */
.switch-toggle-button:selected .thumb {
    -fx-translate-x: 21px;
}