.big-fonts{
    -fx-font-family: "Poppins Black";
    -fx-font-weight: bold;
    -fx-line-spacing: -15px;
    
}
.small-fonts{
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
}
.main-container {
    -fx-min-height: 650;
    -fx-min-width: 900;
    -fx-background-image: url("school.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.button{
    -fx-background-color: #FFF59D;
    -fx-min-width: 200;
    -fx-min-height: 35;
}
.button:hover{
    -fx-background-color: #FBC02D;
}