.root{
    -fx-min-height: 720;
    -fx-min-width: 1280;
    -fx-background-radius: 20;
}
.login-button{
    -fx-background-color: #CC1C17;
    -fx-text-fill: white;
    -fx-pref-width: 250;
    -fx-background-radius: 8;
    -fx-pref-height: 30;
}
.font{
    -fx-font-family: "Poppins";
}
.big-text{
    -fx-font-size: 24;
    -fx-font-weight: bold;
}
.text-field{
    -fx-background-radius: 8;
    -fx-min-height: 30;
    -fx-border-width: 1;
    -fx-border-color: #CC1C17;
    -fx-border-radius: 8;
    -fx-pref-width: 250;
}
.text-field:focused{
    -fx-effect: none;
    -fx-background-insets: 0;
}
.pup-sanjuan-label{
    -fx-font-family: "system-ui";
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
.side-image{
    -fx-background-image: url("school.png");
    -fx-background-size: cover;
    -fx-background-radius: 40 0 0 40;
    -fx-background-repeat: no-repeat;
}
.combo-box{
    -fx-background-radius: 8;
    -fx-min-height: 30;
}
.birthday{
    -fx-font-family: "Poppins";
    -fx-font-size: 16;
}
.back-button:hover{
    -fx-effect: dropshadow(gaussian, #a6a6a6, 20, 0.5, 0, 0);
}